@use "../fonts/fonts.scss";
@use "sass:list";

:root {
	--sky-games-pink: #f42f64;
	--tab-overlap: 17px;
	--page-border: 2px solid #dbdbdb;
	--shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

// Variables
$skyGamesPink: var(--sky-games-pink);
$tabOverlap: var(--tab-overlap);
$pageBorder: var(--page-border);
$shadow: var(--shadow);

$skyGamesHeader_height: 92px;
$skyGamesMain_height: 356px;
$skyGamesFooter_height: 120px;

$leftMargin_width: 60px;
$gameGrid_width: 334px;
$divider_width: 16px;
$gameInfo_width: 233px;
$gameGrid_rowCount: 3;
$gameGrid_colCount: 3;
$allGames_rowCount: 12;
$allGames_colCount: 2;

$game_greyFilter: saturate(0) brightness(1.7);

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $skyGamesPink;
}

.skyGames {
	font-family: "SkyGames";
	background-color: white;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: $skyGamesHeader_height $skyGamesMain_height $skyGamesFooter_height;
}

.skyGames_reference {
	position: absolute;
	left: 0;
	top: 0;
	top: 37px;
	width: 100%;
	height: auto;
	z-index: 999;
	opacity: 0.7;

	pointer-events: none;
}

a {
	&,
	&:focus,
	&:visited {
		color: $skyGamesPink;
		cursor: pointer;
	}
}

%longFadyLoadingThing {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 102%;
	background-color: white;
	pointer-events: none;
	/* Disable mouse events on the overlay */
	opacity: 1;
	transition:
		opacity 0.5s ease,
		visibility 0.5s ease;
	visibility: visible;

	&.done {
		opacity: 0;
		visibility: hidden;
	}
}

#skyGames_fade {
	@extend %longFadyLoadingThing;
}

%shadow {
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.skyGamesHeader {
	position: relative;
	padding: 52px 62px 0;
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: calc(140px + $tabOverlap) auto;
	padding-right: 88px;

	h1 {
		margin: 0;
	}

	img {
		width: 88px;
	}

	&::after {
		content: "";
	}

	.skyGamesTabs {
		display: flex;
		&.allGames {
			justify-content: flex-end;
		}
		&.categoryGames {
			.skyGamesTab {
				margin: 0px calc(0px - $tabOverlap);
			}
		}

		.skyGamesTab {
			font-size: 20px;
			border: $pageBorder;
			text-decoration: none;
			$border-radius: 15px;
			border-top-right-radius: $border-radius;
			border-top-left-radius: $border-radius;
			border-bottom: none;

			padding: 8px $tabOverlap;
			text-align: center;
			z-index: 0;
			background-color: rgb(231, 231, 231);
			color: #254c9e;
			z-index: 1;

			&.active {
				box-shadow: $shadow;
				color: $skyGamesPink;
				z-index: 1;
				background-color: white;

				z-index: 3;

				& + .skyGamesTab {
					z-index: 2;
				}
			}
		}
	}
}

.skyGamesMain {
	box-shadow: $shadow;
	position: relative;
}

/*
$leftMargin_width: a;
$gameGrid_width: b;
$divider_width: c;
$gameInfo_width: d;

720-(b+3c/2+d+a)
*/

.skyGamesMainContainer {
	margin-top: 6px;
	margin-left: $leftMargin_width - calc($divider_width / 2);
	margin-right: 720px - ($leftMargin_width + $gameGrid_width + (3 * calc($divider_width/2)) + $gameInfo_width);

	& > img {
		width: 100%;
	}

	&.split {
		display: grid;
		grid-template-columns: ($gameGrid_width + $divider_width) ($gameInfo_width + $divider_width);
	}
}

@mixin gameArrowsOld($top: false, $right: false, $bottom: false, $left: false) {
	// Default background image
	//background-image: url("game-arrows.svg");

	$arm_length: 20%;
	$full_clip_path: (
		1 0% $arm_length,
		2 $arm_length $arm_length,
		3 $arm_length 0%,
		4 (100%-$arm_length) 0%,
		5 (100%-$arm_length) $arm_length,
		6 100% $arm_length,
		7 100% (100%-$arm_length),
		8 (100%-$arm_length) (100%-$arm_length),
		9 (100%-$arm_length) 100%,
		10 $arm_length 100%,
		11 $arm_length (100%-$arm_length),
		12 0% (100%-$arm_length)
	);
	$clip_path: ();

	$top_ids: 3, 4;
	$right_ids: 6, 7;
	$bottom_ids: 9, 10;
	$left_ids: 1, 12;

	@each $index, $v1, $v2 in $full_clip_path {
		$clip_point: $v1 $v2;

		@if not(
			($top ==false and index($top_ids, $index)) or
				($bottom ==false and index($bottom_ids, $index)) or
				($left ==false and index($left_ids, $index)) or
				($right ==false and index($right_ids, $index))
		)
		{
			$clip_path: append($clip_path, $clip_point, "comma");
		}
	}

	clip-path: polygon($clip_path);
}

// Arrow and select animation config
$wait1: 3;
$selectAppearTime: 1;
$selectFlashTime: 1;
$selectDisappear: 3;
$wait2: 1;
$arrowFlashTime: 1;

$selectFlashCount: 3;
$selectFlashChangeCount: calc($selectFlashCount * 2) - 1;

$arrowFlashCount: 3;
$arrowFlashChangeCount: calc($arrowFlashCount * 2) - 1;

$totalTime: $wait1 + $selectAppearTime + $selectFlashTime + $selectDisappear + $wait2 + $arrowFlashTime;

$percentSelectAppear: calc(100 * $wait1 / $totalTime);
$percentSelectFlash: calc(100 * ($wait1 + $selectAppearTime) / $totalTime);
$selectSingleFlashLength: calc(100 * $selectFlashTime/($selectFlashChangeCount * $totalTime));
$percentSelectDisappear: calc(100 * ($wait1 + $selectAppearTime + $selectFlashTime + $selectDisappear) / $totalTime);

$percentArrowStart: calc(
	100 * ($wait1 + $selectAppearTime + $selectFlashTime + $selectDisappear + $wait2) / $totalTime
);
$arrowSingleFlashLength: calc(100 * $arrowFlashTime/($arrowFlashChangeCount * $totalTime));

@each $arrowCount in (0, 2, 3, 4) {
	@keyframes outlineAnimation#{$arrowCount} {
		0%,
		100%,
		#{$percentArrowStart - 1}%,
		#{$percentArrowStart + calc(1 * $arrowSingleFlashLength)}%,
		#{$percentArrowStart + calc(3 * $arrowSingleFlashLength)}%,
		#{$percentArrowStart + calc(5 * $arrowSingleFlashLength)}% {
			filter: none;
			background-image: url("game-arrows-#{$arrowCount}.svg"); // previous amount of arrows
		}

		#{$percentArrowStart}%,
		#{$percentArrowStart + calc(2 * $arrowSingleFlashLength)}%,
		#{$percentArrowStart + calc(4 * $arrowSingleFlashLength)}% {
			filter: $game_greyFilter;
			background-image: url("game-arrows-0.svg");
		}
	}

	%arrows-#{$arrowCount} {
		background-image: url("game-arrows-#{$arrowCount}.svg");
		animation: outlineAnimation#{$arrowCount} #{$totalTime}s infinite;
	}
}

@each $arrowRotation in (-90, 0, 90, 180) {
	%arrows-rotate-#{$arrowRotation} {
		rotate: #{$arrowRotation}deg;
	}
}

@each $arrowRotation in (-90, 0, 90, 180) {
}

@mixin gameArrows($top: false, $right: false, $bottom: false, $left: false) {
	$enabledDirections: ();
	$dirs: (
		"top": $top,
		"right": $right,
		"bottom": $bottom,
		"left": $left
	);

	@each $direction, $enabled in $dirs {
		@if $enabled {
			$enabledDirections: append($enabledDirections, $direction);
		}
	}

	$trueCount: length($enabledDirections);

	@if $trueCount ==1 {
		$trueCount: 4;
	}

	$rotateDeg: 0;
	$dirGuide: nth($enabledDirections, 2);

	@if $trueCount ==2 {
		@if $dirGuide == "right" {
			$rotateDeg: 90;
		}

		@if $dirGuide == "bottom" {
			$rotateDeg: 180;
		}

		@if $dirGuide == "left" and nth($enabledDirections, 1) == "bottom" {
			$rotateDeg: -90;
		}
	} @else if $trueCount ==3 {
		@if nth($enabledDirections, 3) == "bottom" {
			$rotateDeg: 90;
		}

		@if nth($enabledDirections, 1) == "right" {
			$rotateDeg: 180;
		}

		@if nth($enabledDirections, 2) == "bottom" and nth($enabledDirections, 1) == "top" {
			$rotateDeg: -90;
		}
	}

	@extend %arrows-#{$trueCount};
	@extend %arrows-rotate-#{$rotateDeg};
	//@extend %arrows-#{$trueCount}-#{$rotateDeg};
}

.skyGames_gamesList {
	flex: 1 0 66%;
	position: relative;
}

.skyGames_gameGrid {
	display: grid;
	height: 100%;
	grid-template-columns: repeat($gameGrid_colCount, 1fr);
	grid-template-rows: repeat($gameGrid_rowCount, 1fr);

	> a {
		position: relative;
		margin: 6px;
	}

	img {
		height: 100%;
		width: 100%;
		border-radius: 5px;
	}

	.skyGames_game {
		position: relative;
		display: flex;
		justify-content: space-around;
		margin: 5%;

		&.moving::after {
			background-image: url(game-arrows-0.svg);
		}

		img {
			position: absolute;
		}

		&::after {
			content: "";
		}

		$gameWidth: calc($gameGrid_width/$gameGrid_colCount);
		$gameHeight: calc($skyGamesMain_height/$gameGrid_rowCount);

		&.left {
			&::after {
				translate: $gameWidth;
			}
		}

		&.right {
			&::after {
				translate: -$gameWidth;
			}
		}

		&.up {
			&::after {
				translate: 0 $gameHeight;
			}
		}

		&.down {
			&::after {
				width: 84%;
				height: 84%;
				translate: 0 (-$gameHeight);
			}
		}

		&:focus,
		&:hover,
		&:focus-visible {
			@for $row from 1 through 3 {
				@for $col from 1 through 3 {
					$n: ($row - 1) * 3 + $col;

					&:nth-child(#{$n})::after {
						@include gameArrows($top: $row !=1, $right: true, $bottom: $row !=3, $left: true);
					}
				}
			}

			/*
				#{$selectSingleFlashLength}

				\/\/\
				*/

			@keyframes selectAnimation {
				//hidden
				0%,
				100% {
					opacity: 0;
					filter: none;
				}

				#{$percentSelectAppear - 1}%,
				#{$percentSelectDisappear}% {
					opacity: 0;
				}

				#{$percentSelectAppear}%,
				#{$percentSelectDisappear - 1}% {
					opacity: 1;
				}

				#{$percentSelectFlash - 1}%,
				#{$percentSelectFlash + calc(1 * $selectSingleFlashLength)}%,
				#{$percentSelectFlash + calc(3 * $selectSingleFlashLength)}%,
				#{$percentSelectFlash + calc(5 * $selectSingleFlashLength)}% {
					filter: none;
				}

				#{$percentSelectFlash}%,
				#{$percentSelectFlash + calc(2 * $selectSingleFlashLength)}%,
				#{$percentSelectFlash + calc(4 * $selectSingleFlashLength)}% {
					filter: $game_greyFilter;
				}
			}

			outline: none;

			&::after,
			&::before {
				content: "";
				translate: 0, 0;
				transition: translate 0.5s;
			}

			&::after {
				content: "";
				position: absolute;
				width: 130.66px;
				height: 132.66px;
				z-index: 1;
				top: -14px;
				left: -13px;
				background-repeat: no-repeat;
			}

			&::before {
				transform: translate(0, 0);
				transition: transform 0.5s;
				content: "SELECT";
				padding: 0 10px;
				font-size: 15px;
				color: white;
				font-weight: bold;
				background-color: #f42f64;
				background-image: linear-gradient(0deg, rgba(211, 52, 92, 1) 20%, transparent 35%);
				border-radius: 0.5rem;

				position: absolute;
				top: -0.6em;

				outline: white solid;
				z-index: 2;

				animation: selectAnimation #{$totalTime}s infinite;
			}
		}
	}
}

.skyGames_allGames {
	display: grid;
	height: 100%;
	grid-template-columns: repeat($allGames_colCount, 1fr);
	grid-template-rows: repeat($allGames_rowCount, 1fr);
	max-lines: 1;
	white-space: nowrap;
	.skyGames_game {
		overflow: hidden;
		text-overflow: clip;
		height: 1em;
		max-width: 10em;
		color: gray;
		text-decoration: none;
		padding: 0.2rem;
		border-radius: 0.3rem;

		&:focus,
		&:hover,
		&:focus-visible {
			outline: none;
			color: white;
			background-color: $skyGamesPink;
		}
	}
}

/*
(jumps 5 times)
waits 10s

3s

0s in
0.18s out
0.375s in
0.555s out
0.75s in

back to start

*/

@keyframes arrowMovement {
	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-20px);
	}
}

%animatedArrows {
	animation: arrowMovement 0.5s 5;
}

$arrow_x: -20px;

//https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_combinator
[class^="skyGamesArrow"] {
	position: absolute;
	top: 50%;
	translate: -5px -50%;
	z-index: 10;
}

.skyGamesArrowLeft {
	left: $arrow_x;
	@extend %animatedArrows;
}

.skyGamesArrowRight {
	rotate: 180deg;
	right: $arrow_x;
	@extend %animatedArrows;
}

.skyGames_gameInfo {
	.gameInfo_container {
		box-shadow: $shadow;
		// height: 332px;
		// width: 233px;

		width: 172px;
		height: 280px;

		padding: 30px 34px;

		border-radius: 13px;

		margin: calc($divider_width / 2);

		// padding: 0.1px;

		position: relative;
	}

	.gameInfo_infoEntry {
		$round-border-radius: 0.5em;

		background-color: #c7d4ec;
		height: 100%;
		display: grid;
		grid-template-rows: 140px auto 25px;
		border-bottom-left-radius: $round-border-radius;
		border-bottom-right-radius: $round-border-radius;

		&.loading {
			.skyGames_infoImage {
				opacity: 0;
			}

			.infoEntry_gameText {
				.gameText_title {
					opacity: 0;
				}

				.gameText_blurb {
					opacity: 0;
					color: black;
					font-size: 85%;
				}
			}

			.infoEntry_gameCategory {
				opacity: 0;
				background-color: #255595;
				color: white;
				border-bottom-left-radius: $round-border-radius;
				border-bottom-right-radius: $round-border-radius;
				text-align: center;
				display: flex;
				flex-flow: column;
				justify-content: center;
			}
		}

		.skyGames_infoImage {
			transition: opacity 0.5s;
			//margin: 8px 6px;
			width: 160px;
			height: 126px;

			$border_hor: 8px;
			$border_vir: 6px;

			border: solid rgb(190, 190, 190);
			border-bottom-width: $border_hor;
			border-top-width: $border_hor;
			border-left-width: $border_vir;
			border-right-width: $border_vir;
		}

		.infoEntry_gameText {
			margin: 8px 6px;
			position: relative;

			display: flex;
			flex-flow: column;

			p {
				margin: 0;
			}

			.gameText_title {
				transition: opacity 0.5s;
				color: #254c9e;
				font-size: 130%;
				flex: 1;
			}

			.gameText_blurb {
				transition: opacity 0.5s;
				color: black;
				font-size: 85%;
				//position: absolute;
				//bottom: 0;
				//left: 0;
			}
		}

		.infoEntry_gameCategory {
			transition: opacity 0.5s;
			background-color: #255595;
			color: white;
			border-bottom-left-radius: $round-border-radius;
			border-bottom-right-radius: $round-border-radius;
			text-align: center;
			display: flex;
			flex-flow: column;
			justify-content: center;
		}
	}
}

.skyGames_footer {
	//Temp code so i can see it
	// position: relative;
	//-------------------------
	&Container {
		//Temp code so i can see it
		// position: absolute;
		// top: 0;
		// left: 0;
		// z-index: 1000;
		//-------------------------

		display: flex;
		align-items: center;
		justify-content: flex-end;

		&Colors {
			@extend .skyGames_footerContainer;
			display: grid;
			grid-template-columns: 31px repeat(4, 142px);
		}

		.skyGames_allGamesFooter {
			text-align: right;
			margin-right: 42px;
			margin-top: -4px;
			font-size: 18px;
		}

		box-shadow: $shadow;
		width: 592px;
		height: 37px;
		margin: 21px 55px;
		border-radius: 10px;
		border: #cbcbcb solid;
		border-width: 2px;
		background-image: linear-gradient(180deg, #e8e8e8 40%, #d0d1d5 50%, #d0d1d5 80%, #b6b6b6 90%);

		[class^="skyGames_color"] {
			width: 100%;
			height: 30px;
			display: flex;
			/* justify-content: center; */
			align-items: center;
			text-decoration: none;
			color: black;
			gap: 8px;

			&::before {
				content: "";
				display: block;
				width: 26px;
				height: 26px;
				color: black;
				margin-top: 4px;
				border-radius: 7px;
				box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
				background: linear-gradient(
					180deg,
					rgb(255 255 255 / 49%) 35%,
					rgb(255 255 255 / 12%) 45%,
					rgb(255 255 255 / 12%) 75%,
					rgb(255 255 255 / 0%) 100%
				);
			}
		}

		.skyGames_color {
			&Red {
				grid-column: 2;

				&::before {
					background-color: #e0011e;
				}
			}

			&Green::before {
				background-color: #21a626;
			}

			&Yellow::before {
				background-color: #f4af14;
			}

			&Blue::before {
				background-color: #1bacfd;
			}
		}
	}

	.skyGames_allGamesFooter {
		color: gray;
		position: relative;
	}
}

.test {
	position: relative;
	width: 100px;
	height: 100px;
}

#skyGamesControls {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
}
