@use "../fonts/fonts.scss";

$skyGamesPink: #f42f64;

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $skyGamesPink;
}
.skyGames {
	font-family: "SkyGames";
	//background-image: url("https://static.wikia.nocookie.net/sky-gamestar/images/7/74/Sky_Games_05-2012.png");
	background-color: white;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 92px auto 120px;
}

.skyGames_reference {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 9999;
	opacity: 0.7;
}
a {
	&,
	&:focus,
	&:visited {
		color: $skyGamesPink;
	}
	cursor: pointer;
}
$pageBorderWidth: 2px;
$pageBorderColour: #dbdbdb;
// $pageBorderColour: magenta;
$pageBorder: solid $pageBorderColour $pageBorderWidth;

#skyGames_fade {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	pointer-events: none; /* Disable mouse events on the overlay */
	opacity: 1;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	visibility: visible;

	&.done {
		opacity: 0;
		visibility: hidden;
	}
}
:root {
	--tab-overlap: 17px;
}

%shadow {
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.skyGamesHeader {
	$tab-overlap: var(--tab-overlap);
	position: relative;
	padding: 52px 62px;
	padding-bottom: 0px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: calc(140px + $tab-overlap) auto;
	img {
		width: 88px;
	}
	&::after {
		content: "";
	}

	.skyGamesTabs {
		display: flex;

		.skyGamesTab {
			// background-color: yellow !important;
			// color: green !important;

			font-size: 20px;
			border: $pageBorder;
			text-decoration: none;
			$border-radius: 15px;
			border-top-right-radius: $border-radius;
			border-top-left-radius: $border-radius;
			border-bottom: none;

			margin: 0px calc(0px - $tab-overlap);
			padding: 8px $tab-overlap;
			text-align: center;
			z-index: 0;
			background-color: rgb(231, 231, 231);
			color: rgb(103, 103, 226);
			z-index: 1;

			&.active {
				@extend %shadow;
				color: $skyGamesPink;
				z-index: 1;
				background-color: white;

				z-index: 3;

				& + .skyGamesTab {
					z-index: 2;
				}
			}
		}
	}
}

$leftMargin_width: 60px;
$gameGrid_width: 334px;
$divider_width: 16px;
$gameInfo_width: 233px;

.skyGamesMain {
	@extend %shadow;
	position: relative;
}
/*
$leftMargin_width: a;
$gameGrid_width: b;
$divider_width: c;
$gameInfo_width: d;

720-(b+3c/2+d+a)
*/

.skyGamesMainContainer {
	margin-top: 6px;
	margin-left: $leftMargin_width - $divider_width / 2;
	margin-right: 720-$gameGrid_width - $divider_width -$gameInfo_width - $divider_width - ($leftMargin_width -
				$divider_width / 2);

	display: grid;
	grid-template-columns: ($gameGrid_width + $divider_width) ($gameInfo_width + $divider_width);
}

.skyGames_gamesList {
	flex: 1 0 66%;
	position: relative;
}

.skyGames_gameGrid {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

	> a {
		position: relative;
		margin: 6px;
	}

	img {
		height: 100%;
		width: 100%;
		border-radius: 24px;
	}
}

@keyframes arrowMovement {
	0%,
	12.5%,
	25% {
		transform: translateX(0);
	}
	6%,
	18.5% {
		transform: translateX(-10px);
	}
}

$arrow_x: -20px;

[class^="skyGamesArrow"] {
	position: absolute;
	top: 50%;
	translate: 0% -50%;
	z-index: 10000;
}

.skyGamesArrowLeft {
	left: $arrow_x;
	animation: arrowMovement 3s infinite;
}

.skyGamesArrowRight {
	rotate: 180deg;
	right: $arrow_x;
	animation: arrowMovement 3s infinite;
}

.skyGames_gameInfo {
	.gameInfo_container {
		@extend %shadow;
		// height: 332px;
		// width: 233px;

		width: 172px;
		height: 280px;

		padding: 30px 34px;

		border-radius: 13px;

		margin: $divider_width / 2;

		// padding: 0.1px;
	}

	.gameInfo_infoEntry {
		background-color: #c7d4ec;
		height: 100%;
		display: grid;
		grid-template-rows: 140px auto 25px;

		.skyGames_infoImage {
			margin: 8px 6px;
			width: 160px;
			height: 126px;
		}

		.infoEntry_gameText {
			margin: 8px 6px;
			p {
				margin: 0;
			}
			.gameText_title {
				color: #254c9e;
				font-size: 130%;
			}

			.gameText_blurb {
				color: black;
				font-size: 85%;
				padding-bottom: 10px;
			}
		}
	}
}

.skyGames_footer {
}
